static/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title of Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <!--STYLE SHEET-->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
    <!--JAVASCRIPT-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js" type="text/javascript"></script>
    <script src="assets/js/app.js" type="text/javascript"></script>
  </head>
  <body ng-app="angularApp" ng-controller="mainCtrl">
    <header>
      <div class="logo"><img src="images/logo.png" alt="Tabetha Moe"></div>
      <div class="title">
        <h1>Tabetha Moe</h1>
        <h2>Lead Web Developer</h2>
      </div>
    </header>
    <main>
      <section id="hero"><img src="images/hero.jpg" alt="Screen full of code"></section>
      <section id="featured-work">
        <h3>Featured Work</h3>
        <div class="featured-container">
          <div class="featured"><img src="images/aquarian.co.uk_.png" alt="Aquarian Website">
            <h2>Aquarian</h2><a href="https://aquarian.co.uk">aquarian.co.uk</a>
          </div>
          <div class="featured"><img src="images/safeplacesc.sc.gov_.png">
            <h2>Safeplace</h2><a href="https://safeplacesc.sc.gov">safeplacesc.sc.gov</a>
          </div>
          <div class="featured"><img src="images/www.sutterhome.com_.png">
            <h2>Sutterhome</h2><a href="https://www.sutterhome.com">sutterhome.com</a>
          </div>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>

build/markup/index.pug
doctype html
html(lang="en")
   include includes/header.pug
   body(ng-app="angularApp" ng-controller="mainCtrl")

      header
         div.logo
            img(src="images/logo.png" alt="Tabetha Moe")
         div.title
            h1 Tabetha Moe
            h2 Lead Web Developer

      main

         section#hero
            img(src="images/hero.jpg" alt="Screen full of code")

         section#featured-work
            h3 Featured Work
            div.featured-container
               div.featured
                  img(src="images/aquarian.co.uk_.png" alt="Aquarian Website")
                  h2 Aquarian
                  a(href="https://aquarian.co.uk") aquarian.co.uk
               div.featured
                  img(src="images/safeplacesc.sc.gov_.png")
                  h2 Safeplace
                  a(href="https://safeplacesc.sc.gov") safeplacesc.sc.gov
               div.featured
                  img(src="images/www.sutterhome.com_.png")
                  h2 Sutterhome
                  a(href="https://www.sutterhome.com") sutterhome.com

      include includes/footer.pug
